<div class="container mt-5">
	<h4>Enrollment App <span><input type="button" class="btn btn-primary float-right mr-2" value="Add Student" (click)="getStudentDetails($event,0,'Added')" ></span></h4>
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Student Name</th>
				<th scope="col">Email</th>
				<th scope="col">Phone #</th>
				<th scope="col">Class</th>
				<th scope="col">Marks %</th>
				<th scope="col">Edit</th>
			</tr>
		</thead>
		<tbody>
			<tr class="cursor-pointer" *ngFor="let student of students" (click)="getStudentDetails($event,student,'details')">
				<th scope="row">{{ student.id }}</th>
				<td>{{student.student_name}}</td>
				<td>{{ student.email}}</td>
				<td>{{student.phone_no}}</td>
				<td>{{student.class}}</td>
				<td>{{student.marks}}</td>
				<td><input type="button" class="btn btn-success" value="Edit" (click)="getStudentDetails($event,student,'Updated')"></td>
			</tr>
		</tbody>
	</table>
	<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

	<div class="d-flex justify-content-between p-2">
		<ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
			(pageChange)="refreshCountries()">
		</ngb-pagination>
	</div>
</div>